<main>
  <%- include('../partials/donorSidebar') %>

  <div id="main-wrapper">
    
    <!-- Header -->
    <div class="bg-white shadow-sm p-3 d-flex align-items-center justify-content-between">
      <span id="sidebar-toggler-btn" class="fs-5"><i class="fas fa-bars"></i></span>
      <h5 class="m-0 color-theme">Dashboard</h5>
    </div>

    <!-- Statistics Cards -->
    <div class="row m-4 g-3">

      <div class="col-12">
        <div class="card bg-success text-white shadow-sm rounded-3 p-4">
          <div class="fs-1"><%= numCollectedDonations %></div>
          <div class="fs-5">Total donations made by you</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-primary text-white shadow-sm rounded-3 p-4 h-100">
          <div class="fs-1"><%= numPendingDonations %></div>
          <div class="fs-6">Pending donation requests</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-info text-white shadow-sm rounded-3 p-4 h-100">
          <div class="fs-1"><%= numAcceptedDonations %></div>
          <div class="fs-6">Accepted but not yet assigned</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-danger text-white shadow-sm rounded-3 p-4 h-100">
          <div class="fs-1"><%= numAssignedDonations %></div>
          <div class="fs-6">Assigned but not collected</div>
        </div>
      </div>

    </div>

  </div>
</main>
