<main class="d-flex">
  <%- include('../partials/agentSidebar') %>

  <div id="main-wrapper" class="flex-grow-1">

    <!-- Header -->
    <div class="bg-white shadow-sm p-3 d-flex align-items-center">
      <span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
      <h5 class="m-0 text-primary">Previous Collections</h5>
    </div>

    <!-- Table Section -->
    <div class="container my-4">
      <div class="table-responsive rounded shadow-sm">
        <table class="table table-hover table-bordered bg-white align-middle mb-0">
          <thead class="table-light text-center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Donor Name</th>
              <th scope="col">Collected Address</th>
              <th scope="col">Phone</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if (previousCollections.length === 0) { %>
              <tr>
                <td colspan="5" class="text-center text-muted py-4">No previous collections found.</td>
              </tr>
            <% } else { %>
              <% previousCollections.forEach((item, i) => { %>
                <tr class="text-center">
                  <th scope="row"><%= i + 1 %></th>
                  <td><%= item.donor.firstName + " " + item.donor.lastName %></td>
                  <td><%= item.address %></td>
                  <td><%= item.phone %></td>
                  <td>
                    <a href="/agent/collection/view/<%= item._id %>" class="btn btn-sm btn-outline-info">View</a>
                  </td>
                </tr>
              <% }) %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</main>
